body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
*{
    margin: 0;
    padding: 0;
    border-radius: border-box;
}
.boite {
    width: 60%;
    height: fit-content;
    border: solid 1px;

}
#imagec{
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    justify-content: right;
    margin-top: 3%;
}
.etoile{
    width: 20%;
    height: fit-content;
}
.etoile img{
    width: 97%;
}
.value{
    width: 100%;
    display: flex;
    gap: 1%;
}
.mot {
    font-size: 90%;
    font-weight: 200;
}
#info{
    width: 100%;
    height: fit-content;
    padding: 3%;
}
#compterebours {
    margin-left: 2%;
    margin-bottom: 2%;
    width: 96%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    border: solid 1px;
    justify-self: center;
    font-size: large;
}
.tag{
    display: grid;
    justify-content: center;
    align-items: center;
    width: 23%;
    font-size: 91%;
    height: 8vh;
    padding-top: 4%;
    text-align: center;
}
.casque{
    width: 96%;
    height: 97%;
    display: block;
    margin: auto;
}
.contents {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgda(0,0,0,0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
}
.contents:hover {
    opacity: 1;
    border-image: 40%;
}
.casque1{
    position: absolute;
    width: 90%;
    height: 90%;
}
.panier{
    width: 17%;
}
.contents button{
    position: absolute;
    background: blue;
    border-radius: 5px;
    color: white;
    height: 15%;
    width: 40%;
    padding: 2%;
    align-items: center;
    justify-content: center;
}
.left {
    width: 7%;
    height: 8%;
    font-size: 74%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: absolute;
    margin: 4%;
}